#Application
APPLICATION_NAME=Inventory
SERVER_PORT=

#Database
REFERENCE_MONGODB_URI=
MONGODB_URI=
MONGODB_DATABASE=
AUTO_INDEX_CREATION=

#Auth
KEYCLOAK_ISSUER_URI=
KEYCLOAK_SERVER_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=

#DevTools
SPRING_DEVTOOLS_RESTART_ENABLED=
SPRING_DEVTOOLS_LIVERELOAD_ENABLED=

#Logging
LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY=
LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_DATA_MONGODB=
LOGGING_LEVEL_ORG_KEYCLOAK=
LOGGING_LEVEL_ORG_APACHE_HTTP=
SPRING_DATA_MONGODB_AUTO_INDEX_CREATION=
